{% extends "./base.html" %}
{% load i18n %}

{% block title %}
        {{ options.logo_text }} | {{ post }}
{% endblock title %}

{% block sidebar %}
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-bar-item w3-button">{% translate 'Close Menu' %}</a>
        <a href="{% url 'foodblog:index' %}" class="w3-bar-item w3-button">{% translate 'Home' %}</a>
        <a href="{% url 'foodblog:tagcloud' %}" onclick="w3_close()" class="w3-bar-item w3-button">{% translate "Tags" %}</a>

        {# include "./langswitcher.html" #}

{% endblock sidebar %}

{% block content %}
        <div class="w3-bar">
        {% for t in post.tags.all %}
                <a href="{% url 'foodblog:tag' slug=t.slug page=1 %}" class="w3-tag w3-margin-right w3-teal w3-text-white w3-hover-black w3-round w3-right no-under-line">{{ t.tag }}</a>
        {% endfor %}
        </div>
        <h1 class="w3-center">{{ post.title }}</h1>
        <div class="w3-container">
                {{ post.content|safe }}
        </div>
        {%  include "./socialbuttons.html" %}
        <hr />
        {# Section of Comments #}

        {% if comments is not None %}
        <div class="w3-panel w3-teal">
          <h5>{% translate "Everyone comments" %}</h5>
        </div>
        {% for cmt in comments.paginated_comments %}
        <div class="w3-panel w3-border">
              <p>{{ cmt.content }}</p>
              <p class="w3-margin-bottom">
                  <b><i>({{ cmt.name }})</i></b>
              </p>
        </div>
        {% empty %}
            <div class="container">
                <p>
                    {% translate 'No comment yet. Let yours be the first one!' %}
                </p>
            </div>
        {% endfor %}
        <!-- Pagination -->
        <div class="w3-center w3-padding-32">
          <div class="w3-bar">
                {% if comments.comment_paginator and comments.comment_paginator.num_pages > 1 %}
                        {% if comments.comment_current_page.has_previous %}
                        <a href="{% url 'foodblog:detail'  slug=post.slug p=comments.comment_current_page.number|add:'-1'  %}" class="w3-bar-item w3-button w3-hover-black">«</a>
                        {% endif %}

                        {% for p in comments.comment_paginator.page_range %}
                        <a href="{% url 'foodblog:detail' slug=post.slug p=p %}" class="w3-bar-item w3-button {% if p == comments.comment_current_page.number %} w3-black {% else %} w3-hover-black {% endif %}">{{ p }}</a>
                        {% endfor %}

                        {% if comments.comment_current_page.has_next %}
                        <a href="{% url 'foodblog:detail' slug=post.slug p=comments.comment_current_page.number|add:'1' %}" class="w3-bar-item w3-button w3-hover-black">»</a>
                        {% endif %}
                {% endif %}
          </div>
        </div>

        {% endif %}
        <div class="w3-panel w3-teal">
          <h5>{% translate "Your comment" %}</h5>
        </div>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <ul class="w3-ul">
                    {% for err in comment_form.email.errors %}
                            <li>
                            {% translate err %}
                            </li>
                    {% endfor %}
            </ul>

            {{ comment_form }}

            <input type="submit" class="w3-btn w3-round w3-teal w3-section" value="{% translate 'comment'|capfirst %}" />
        </form>

{% endblock content %}

{% include './footer.html' %}
