{% extends "./base.html" %}
{% load i18n %}

{% block title %}
        {{ options.logo_text }}
{% endblock title %}

{% block sidebar %}
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-bar-item w3-button">{% translate "Close Menu" %}</a>
        <a href="{% url 'foodblog:index' %}" class="w3-bar-item w3-button">{% translate "Home" %}</a>

        {# include "./langswitcher.html" #}

{% endblock sidebar %}

{% block content %}
    <div class="w3-container">
        {% for t in tags %}
            <span class="w3-tag w3-teal w3-text-white w3-round w3-hover-black w3-margin-bottom">
                <a href="{% url 'foodblog:tag' tag=t.tag|slugify page=1 %}" class="no-under-line">{{ t.tag|capfirst }} ({{ t.count }})</a>
            </span>
        {% endfor %}
    </div>
{% endblock content %}
