{% extends './base.html' %}
{% load i18n %}

{% block title %}
        My Food Blog | Unsubscribe
{% endblock title %}

{% block sidebar %}
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-bar-item w3-button">{% translate "Close Menu" %}</a>
        <a href="{% url 'foodblog:index' %}" class="w3-bar-item w3-button">{% translate "Home" %}</a>
        <a href="{% url 'foodblog:tagcloud' %}" onclick="w3_close()" class="w3-bar-item w3-button">{% translate "Tags" %}</a>
{% endblock sidebar %}

{% block content %}
<div class="w3-container w3-red w3-round-large w3-center" id="subscribe_widget">
        <h2 class="">{% translate "Unsubscribe from my blog" %}</h2>
        <p>
            {% translate "Very sorry about your Unsubscribing. Hope you re-think about this decision by ignoring this page." %}
        </p>
        <p>
            {% translate "In case of you really want to stop receiving my latest blogs, just submitting your email." %}
        </p>
        <form action="{% url 'foodblog:unsubscribe' %}" method="post" id="subscribe-widget" novalidate>
                {% csrf_token %}
                {% if unsubscribe_form.unsubscribe_email.errors %}
                <ul class="w3-ul">
                        {% for err in unsubscribe_form.unsubscribe_email.errors %}
                                <li class='w3-text-red'>
                                {% translate err %}
                                </li>
                        {% endfor %}
                </ul>
                {% endif %}
                {{ unsubscribe_form.unsubscribe_email }}

                <input type="submit" class="w3-btn w3-round w3-indigo w3-section w3-sans-serif" value="{% translate 'UnSubscribe' %}" />
        </form>
</div>
{% endblock content %}
